<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <span style="color: #007BFF;">{{ username }}</span></h1>
    <h3><p>We noticed you have not returned the book : <strong style="color: #007BFF;">{{ book_name }}</strong></p></h3>
    <h3><p>The deadline to submit the book is tomorrow.</p></h3>
    <h2><p><span style="color: #007BFF;">Please return the book.</span></p></h2>  
</body>
</html>
